body {
    background-color: #E5E5E5;
    font-family: "athiti";
}


.navbar {
    background-color: #39588A;
    box-shadow: 0 2px 5px -1px gray;
}

.logo-img {
    width: auto;
    height: 40px;
}

.logo-return {
    width: auto;
    height: 20px;
}

.container {
    width: 360px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 15px;
}


h2 {
    margin-top: 7px;
    font-size: 18px;
    text-align: left;
}


h2.step {
    font-weight: bold;
}

h3 {
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

img.step_img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1.step_cat {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.add {
    width: 30px;
    height: 32px;
}

.delete, .modify {
    height: 32px;
    width: auto;
}

.middle_line {
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

img.icons {
    width: 35px;
    height: auto;
}

.col-8.topic {
    padding-right: 0px;
    padding-left: 5px;
}

.col-2.add {
    padding-left: 0px;
}

button.collapsed {
    border-color: white;
}

.middle_line {
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 7px;
    margin-right: 20PX;
}

.middle_margin {
    border-bottom: 2px solid white;
    margin-bottom: 7px;
    margin-right: 20PX;
}

.card-body {
    padding-top: 7px;
}

@media (max-width: 600px) {
    .logo-img {
        width: auto;
        height: 40px;
    }
    h2 {
        font-size: 16px;
        padding-left: 5px;
    }

    div#headingOne.card-header {
        padding-left: 10px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 300px;
    }
}
