body {
    background-color: #E5E5E5;
    font-family: "athiti";

}

.navbar {
    background-color: #39588A;
    box-shadow: 0 2px 5px -1px gray;
}

.logo-img {
    width: auto;
    height: 40px;
}

.logo-return {
    width: auto;
    height: 20px;
}

.container {
    width: 360px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 20px;
}

h1.topic {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
}

h1.profile {
    font-size: 18px;
    margin-top: 8px;
}

label {
    font-size: 18px;
}

h1.profile-end {
    margin-left: 10px;
    font-size: 18px;
    margin-top: 8px;
}

.col-3, .col-7, .col-1, .col-2 {
    padding-right: 0px;
}

.col-7 {
    padding-left: 0px;
}

.form-control  {
    font-size: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;  
    background: none;
} 

img.Select { 
  height: 25px;
  width: 25px;
  margin-top: 10px;
  padding: 0px;
  margin-left: 20px;
}

.middle_line {
  border: 1px solid #E5E5E5;
  background-color:#E5E5E5; 
}

input.date, input.time, select.custom-select, input.value_urine {
    font-size: 100%;
    height: 40px;
    width: 240px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;  
}

input#exampleCheck1.form-check-input {
    width: 24px;
    height: 24px;
    background-color: white;
    border: 1px solid #39588A;
}

label.form-check-label {
    font-size: 18px;
    margin-top: 8px;
    margin-left: 20px;
}

#datepicker, #timepicker{
    font-size: 40px;
}

.col-9 {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    width: 355px;
    margin-left: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.btn.btn-danger.remove-me {
    background-color: #39588A;
    color: white;
    font-weight: 1000;
}

input.form-control.drink {
    width: 130px;
    border-right-style: dashed;

}

input.form-control.value {
    width: 100px;
    border-left-style: dashed;
}

textarea.form-control {
    height: 100px;
    border-radius: 10px;
}

button.add-more {
    font-size: 100%;
    height: 40px;
    width: 200px;
    border: 1px solid #39588A;
    border-radius: 50px;
    background-color: #E5E5E5;
}

button.btn-primary {
    width: 115px;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
}

button.btn-outline-light {
    width: 115px;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
}

.botton_last {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-2.col-cc ,.col-3.col-cc{
    margin-left: 0px;
    padding: 0px;
}

h1.modal-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: #39588A;
    font-weight: bold;
}

h2.modal-datail {
    font-size: 18px;
    margin-bottom: 8px;
    color: #39588A;
}


@media (max-width: 600px) {
    .logo-img {
        width: auto;
        height: 40px;
      }
}

@media (max-width: 340px) {
    .container {
        padding-left: 10px;
        width: 300px;
    }

    input.date, input.time, select.custom-select, input.value_urine {
        width: 180px;
        padding-left: 2px;
    }

    .col-3, .col-7, .col-1, .col-2 {
        padding-right: 0px;
        padding-left: 0px;
    }

    input.form-control.drink {
        width: 100px;
        border-right-style: dashed;
    
    }
    
    input.form-control.value {
        width: 80px;
        border-left-style: dashed;
    }

    .col-3.col-cc {
        margin-right: 100px;
    }

}
