body{
    background-color: #E5E5E5;
    font-family: "athiti";
}

.navbar {
    background-color: #39588A;
    box-shadow: 0 2px 5px -1px gray;
}

.logo-img {
    width: auto;
    height: 50px;
}

.logo-return {
    width: auto;
    height: 20px;
}

.container {
    width: 360px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-left: 55px;
}

.container.col-3.container-profile {
    height: 650px;
}

.col-3, .col-7, .col-1 {
    padding-right: 0px;
}

.col-3 {
    margin-right: 10px;
}

h1.topic {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
    margin-right: 20PX;
}

h1.profile, h2.Gender {
    font-size: 18px;
    margin-top: 8px;
    padding: 0px;
    margin-right: 0px;
}

.form-control, input.date  {
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;  
} 

.form-control:disabled {
    background-color: white;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;
}

img.Select { 
    max-height: 25px;
    max-width: 25px;
    padding: 0px;
    margin-left: 20px;
    margin-top: 8px;
}

.middle_line {
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 20px;
    margin-right: 20PX;
}

.middle_line-graph {
    border-bottom: 2px solid #E5E5E5;
    margin-right: 20PX;
}

.middle_line-chat {
    border-bottom: 2px solid #FFD0BB;
    margin-top: 15px;

}

.nav {
    margin-top: 20px;
}

a#pills-profile-tab.nav-link, a#pills-contact-tab.nav-link, a#pills-home-tab.nav-link {   
    font-size: 20px;
    color: #39588A;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0px;
    box-shadow: 0 2px 5px -1px gray;
}

a#pills-profile-tab.nav-link {
    border-left: 1px solid #39588A;
    border-right: 1px solid #39588A;
}

a#pills-home-tab.nav-link.active, a#pills-profile-tab.nav-link.active, a#pills-contact-tab.nav-link.active {
    color: white;
    font-weight: bold;
    background-color: #39588A
}

.nav-link.active.show {
    color: white;
    font-weight: bold;
    background-color: #39588A
}

.row.row-learning {
    margin-left: 30px;
    margin-right: 30px;
}
.container.col {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.drink-avg {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
}

.urine-avg {
    color: #FFD0BB;
    font-size:  20px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
}

.container-graph {
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

#count_time,#type_count {
    width : 700px;
}

h1.topic {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
    margin-right: 20PX;
    padding-top: 6px;
}

.btn-link {
    margin-bottom: 0px;
}

.col-10, .col-1 {
    padding: 0px; 
}

.legend_out {
    margin-left: 50px;
    margin-top: 10px;
}

h2.legend {
    font-size: 13px;
    margin: 0px;
    margin-right: 20px;
    margin-left: 10px;
}

.table.head {
    font-weight: bold;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
}

.container-solution, .container-test {
    margin-top: 0px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

.container-date {
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

.container-table {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

h1.sol-value {
    font-weight: bold;
}

h2.sol {
    font-size: 14px;
}

.row.row-sol {
    margin-left: 50px;
    margin-right: 50px;
}

td {
    text-align: center;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.row.row-date {
    margin-left: 0px;
}

h3 {
    color: #39588A;
    margin-top: 10px;
    font-size:  18px;
}

.head-table {
    font-weight: bold;
}

.row-table {
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.patient-table {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.total {
    background-color: #39588A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

h3.col-total {
    color: white;
}

.patient-chat {
    background-color:#A9BDD7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.record-chat {
    background-color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
}

h3.col.col-chat {
    font-weight: bold;
}

h3.time-chat {
    margin-top: 0px;
}

.badge-chat {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    font-weight: normal;
    background-color: #A9BDD7;
    font-size: 18px;
    max-width: 400px;
    margin-bottom: 10px;
}

.punsook-chat {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #39588A;
    padding: 10px;
    padding-right: 20px;
    font-weight: normal;
    background-color: white;
    color: #39588A;
    font-size: 18px;
    max-width: 400px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.chat-list {
    height: 500px;
  overflow-y: scroll;
}

.card.card-punsook {
    float: right;
}

@media (max-width: 1000px) {
    .logo-img {
        width: auto;
        height: 40px;
    }

    .container.col-3.container-profile {
        width: 220px;
        height: 600px;
        padding-left: 10px;
        margin-left: 40px;
    }

    h1.topic {
        color: #39588A;
        font-size:  16px;
        font-weight: bold;
        margin-right: 20PX;
    }
    
    h1.profile, h2.Gender {
        font-size: 14px;
        margin-top: 8px;
        padding-left: 5px;
    }

    h1.drink-avg, h1.urine-avg {
        margin-right: 0px;
    }
    
    input.form-control , input.date   {
        height: 30px;
        border: 1px solid gray;
        border-radius: 50px;
        padding-left: 10px;  
    } 

    .form-group.col-4 {
        padding: 0px;
    }

    .form-group.col-7 {
        padding-left: 0px;
    }
    
    .form-control:disabled {
        background-color: white;
        border: 1px solid gray;
        border-radius: 50px;
        padding-left: 10px;
    }
    
    img.Select { 
        max-height: 20px;
        max-width: 20px;
        padding: 0px;
        margin-left: 10px;
        margin-top: 8px;
        margin-right: 0px;
    }

    h2.Gender {
        margin-right: 0px;
    }

    .col-3.unit {
        padding-left: 0px;
    }

    .drink-avg {
        font-size:  16px;
    }
    
    .urine-avg {
        font-size:  16px;
    }

    a#pills-profile-tab.nav-link, a#pills-contact-tab.nav-link, a#pills-home-tab.nav-link {   
        font-size: 16px;
    }

    #count_time,#type_count {
        width : 400px;
    }
    
    .row.legend_out {
        margin-left: 0px;
    }

    h2.legend {
        margin-right: 90px;
        margin-top: 3px;
    }

    span.badge {
        margin-top: 3px;
    }
}