body {
    font-family: "athiti";
    background-color: #E5E5E5;
}

.navbar {
    background-color: #39588A;
}

.navbar_top {
    background-color: #39588A;
    box-shadow: 0 2px 5px -1px gray;
}

.logo-img {
    width: auto;
    height: 40px;
}

.logo-home {
    width: auto;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    width: 360px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 20px;
}


h1 {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    margin-top: 15px;
}

img.icons {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35px;
    height: auto;
}

.col-9 {
    border-top: 1px solid #E5E5E5;
}

@media (max-width: 600px) {

    .logo-img {
        width: auto;
        height: 40px;
      }

    .logo-home {
        width: auto;
        height: 80px;
    }
}