body {
    font-family: "athiti";
    background-color: #E5E5E5;
}

.navbar {
    background-color: #39588A;
}

.navbar_top {
    height: 170px;  
}

.navbar_home {
    height: 650px;  
}

img.Punsook_logo_white {
    width: 17%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img.Home {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    background-color: white;
	box-shadow: 0 8px 20px -1px gray;
}

h1 {
    font-size:  300%;
    color: #39588A;
    margin-left: 60px;
    font-weight: bold;
}

@media(min-width:900px){h1{font-size: 400%}}

h2 {
    font-size:  200%;
    text-align: left;
    padding-top: 30px;
}

@media(min-width:900px){h2{font-size: 300%}}

.logo {
    margin-left: 50px;
}

img.Record ,img.Manual ,img.Profile ,img.Logout {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90px;
    height: auto;
}

.col-9 {
    border-top: 3px solid #E5E5E5;
}

