body{
    background-color: #E5E5E5;
    font-family: "athiti";
}

.navbar {
    background-color: #39588A;
    box-shadow: 0 2px 5px -1px gray;
}

.logo-img {
    width: auto;
    height: 40px;
}

.logo-return {
    width: auto;
    height: 20px;
}

.container {
    width: 360px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 2px 5px -1px gray;
    padding-bottom: 25px;
    padding-left: 20px;
}

.col-3, .col-7, .col-1 {
    padding-right: 0px;
}

h1.topic {
    color: #39588A;
    font-size:  20px;
    font-weight: bold;
}

h1.profile, h2.Gender {
    font-size: 18px;
    margin-top: 8px;
}

h1.from-db {
    font-size: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;  
}

.form-control  {
    font-size: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;
    background: none;  
} 

.form-control:disabled {
    background-color: white;
    border: 1px solid gray;
    border-radius: 50px;
    padding-left: 10px;
}

img.lock {
    width: 20px;
    height: auto;
    margin-top: 8px;
}

img.Select { 
    max-height: 25px;
    max-width: 25px;
    padding: 0px;
    margin-left: 20px;
    margin-top: 8px;
}

.middle_line {
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 20px;
}

button.btn {
    background-color: #39588A;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; } */

@media (max-width: 600px) {

    .logo-img {
        width: auto;
        height: 40px;
      }
}